<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 导入jdbc.properties配置文件  -->
    <context:property-placeholder location="classpath:jdbc.properties"/>

    <!--  配置数据源  -->

    <!-- 配置durid数据源  -->
    <bean  id="druid_dataSource"   class="com.alibaba.druid.pool.DruidDataSource" >
        <property name="driverClassName" value="${jdbc.driver}" />
        <property name="url" value="${jdbc.url}" />
        <property name="username" value="${jdbc.username}" />
        <property name="password" value="${jdbc.password}" />


        <property name="filters" value="${druid.filters}" />
        <property name="maxActive" value="${druid.maxActive}" />
        <property name="validationQuery" value="${druid.validationQuery}" />
        <property name="testWhileIdle" value="${druid.testWhileIdle}" />
        <property name="testOnBorrow" value="${druid.testOnBorrow}" />
        <property name="testOnReturn" value="${druid.testOnReturn}" />

    </bean>


    <!-- 配置MyBatis的 SqlSessionFactoryBean -->
    <bean  class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--  MyBatis配置文件 -->
        <property name="configLocation"  value="classpath:SqlMapperConfig.xml" />
        <!-- 数据源 -->
        <property name="dataSource"   ref="druid_dataSource"/>
    </bean>

    <!-- 配置Mapper扫描器  -->
    <bean  class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage"  value="com.lfeifei.mapper" />
    </bean>

</beans>