<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="person" class="com.lfeifei.pojo.Person" >
        <!--set方式注入-->
        <property name="name" value="feifei"></property>
        <property name="message" value="Hello Word!"></property>
    </bean>
</beans>